.player-container {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px 50px 10px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #a16c4f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -7px 9px 15px 0px rgb(0, 0, 0);

    img {
        height: 60px;
        border-radius: 100%;
    }
}