.player-container {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px 40px 10px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #9e7e6d;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -7px 9px 15px 0px rgb(0, 0, 0);
    width: 170px;

    img {
        height: 45px;
        border-radius: 100%;
    }
}

.player-active {
    width: 200px;
    background-color: #a16c4f;
}