.player-position {
    position: absolute;
    right: 0;
}

h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-family: cursive;
    color: white;
    text-shadow: -7px 5px 9px #000000;
}

.field {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url(../../assets/img/field.jpg);
    background-size: cover;
}

.card-stack {
    position: relative;
    top: 45%;
    left: 7%;
    transform: translate(-50%, -50%);


    img {
        position: absolute;
        height: 200px;
        cursor: pointer;
        box-shadow: -12px 9px 15px 0px rgba(0, 0, 0, 3.24);
    }
}

.top-card {
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) rotateZ(-4deg) translateY(-10px) translateX(-10px);
    }
}

.pick-card {
    animation: pick-card-animation 1000ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1) rotateZ(-4deg) translateY(-10px) translateX(-10px);
        box-shadow: -7px 13px 15px 0px rgba(0, 0, 0, 1.00);
    }

    50% {
        transform: scale(1.7) rotateZ(-2deg) translateY(-10px) translateX(-10px);
        box-shadow: -7px 13px 15px 0px rgba(0, 0, 0, 2.24);
    }

    100% {
        transform: scale(1.1) rotateZ(-2deg) translateX(-300px) translateY(-200px);
        box-shadow: -7px 13px 15px 0px rgba(0, 0, 0, 3.24);
    }
}

.game-info {
    position: absolute;
    bottom: 50px;
    left: 20%;
    right: 20%;
    color: #000000;
}

.add-btn {
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #a16c4f;
}