<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 130 * i}" [name]="player"
    class="player-position"></app-player>

<div class="field">
    <h1>Ring of Fire</h1>

    <div class="card-stack">
        <!-- hidden cards stack-->
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="../../assets/img/cards/card_cover.png"
            alt="">


        <!-- current card stack-->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px"
            src="../../assets/img/cards/{{ currentCard }}.png" alt="">


        <!-- played card stack-->
        <img *ngFor="let card of game.playedCards" class="pick-card" style="right: 25px"
            src="../../assets/img/cards/{{ card }}.png" alt="">
    </div>
</div>

<button (click)="openDialog()" mat-fab color="primary" class="add-btn">
    <mat-icon>add</mat-icon>
</button>