.start-screen {
    background-color: #040303;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;

    img {
        height: 70vh;
    }

    h1 {
        color: #ba2d13;
        font-family: cursive;
        font-weight: 300;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2.5rem;
        width: 100%;
    }

    button {
        all: unset;
        position: absolute;
        top: 80vh;
        left: 51%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        box-sizing: border-box;

        img {
            height: 70px;
            filter: invert(23%) sepia(91%) saturate(2167%) hue-rotate(356deg) brightness(69%) contrast(91%);

            &:hover {
                transition: all 125ms ease-in-out;
                transform: scale(1.05);
            }
        }
    }
}

@media (max-width: 700px) {
    
    .start-screen {

        img {
            height: 77vw;
        }
    }
}

@media (max-width: 550px) {
    
    .start-screen {

        h1 {
            top: 115vw;
        }

        img {
            margin-top: 80px;
        }
    }
}